/**
*********************
* Colors
********************
**/

/* Brand Colors */
:root {
  --color--smoke: #707070;
  --color--dark-grey: #373a3c;
  --color--grey: #676565;
  --color--pale-red: #ff005b;
  --color--light-grey: #e6e6e6;
  --color--whitish-grey: #f7f7f7;
  --color--smoky-black: #101422;
  --color--smoky-grey: #e3e2e2;
  --color--white: #fff;
  --color-primary: #37b1bd;
  --color-supporting-four: #ab88b3;
  --color-supporting-one: #ffd688;
  --color-supporting-three: #46316e;
  --color-supporting-two: #f48480;
  --color-text: #000;
  --color-text-secondary: #918e8e;
}
