.menu--account {
  @include media-breakpoint-up(lg) {
    position: relative;
    margin: 30px 0;
    text-align: right;

    &::before {
      position: absolute;
      z-index: -1;
      top: 12px;
      display: block;
      width: 100%;
      height: 1px;
      content: "";
      background: var(--color--grey);
    }
  }

  .menu {
    @include media-breakpoint-up(lg) {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      background: var(--color--white);
    }

    display: flex;
    flex-flow: column nowrap;
  }

  .menu-item {
    @include media-breakpoint-up(lg) {
      margin-left: 60px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    @include media-breakpoint-up(lg) {
      color: var(--color--grey);
      font-size: $font-size--s;
      font-family: $font-lato--medium;
    }

    font-size: $font-size--base;
    font-family: $font-lato--semibold;
    color: var(--color--white);
  }
}

.region-post-header {
  .menu--account {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.region-navigation {
  .menu--account {
    @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      text-align: unset;
      position: unset;
      margin: unset;
      .menu {
        flex-direction: column;
        background: none;
        width: 100%;

        .menu-item {
          margin-left: unset;
          width: 100%;

          a {
            color: var(--color--white);
            font-family: $font-lato--semibold;
            font-size: $font-size--base;
          }
        }
      }
    }
  }
}
